@font-face {
    font-family: 'Campton';
    src: url('../../fonts/campton/Campton-MediumItalic.eot');
    src: url('../../fonts/campton/Campton-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-MediumItalic.woff2') format('woff2'),
        url('../../fonts/campton/Campton-MediumItalic.woff') format('woff'),
        url('../../fonts/campton/Campton-MediumItalic.ttf') format('truetype'),
        url('../../fonts/campton/Campton-MediumItalic.svg#Campton-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('../../fonts/campton/Campton-Light.eot');
    src: url('../../fonts/campton/Campton-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-Light.woff2') format('woff2'),
        url('../../fonts/campton/Campton-Light.woff') format('woff'),
        url('../../fonts/campton/Campton-Light.ttf') format('truetype'),
        url('../../fonts/campton/Campton-Light.svg#Campton-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('../../fonts/campton/Campton-ExtraLightItalic.eot');
    src: url('../../fonts/campton/Campton-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-ExtraLightItalic.woff2') format('woff2'),
        url('../../fonts/campton/Campton-ExtraLightItalic.woff') format('woff'),
        url('../../fonts/campton/Campton-ExtraLightItalic.ttf') format('truetype'),
        url('../../fonts/campton/Campton-ExtraLightItalic.svg#Campton-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('../../fonts/campton/Campton-SemiBoldItalic.eot');
    src: url('../../fonts/campton/Campton-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-SemiBoldItalic.woff2') format('woff2'),
        url('../../fonts/campton/Campton-SemiBoldItalic.woff') format('woff'),
        url('../../fonts/campton/Campton-SemiBoldItalic.ttf') format('truetype'),
        url('../../fonts/campton/Campton-SemiBoldItalic.svg#Campton-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('../../fonts/campton/Campton-ThinItalic.eot');
    src: url('../../fonts/campton/Campton-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-ThinItalic.woff2') format('woff2'),
        url('../../fonts/campton/Campton-ThinItalic.woff') format('woff'),
        url('../../fonts/campton/Campton-ThinItalic.ttf') format('truetype'),
        url('../../fonts/campton/Campton-ThinItalic.svg#Campton-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('../../fonts/campton/Campton-ExtraBoldItalic.eot');
    src: url('../../fonts/campton/Campton-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-ExtraBoldItalic.woff2') format('woff2'),
        url('../../fonts/campton/Campton-ExtraBoldItalic.woff') format('woff'),
        url('../../fonts/campton/Campton-ExtraBoldItalic.ttf') format('truetype'),
        url('../../fonts/campton/Campton-ExtraBoldItalic.svg#Campton-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('../../fonts/campton/Campton-Black.eot');
    src: url('../../fonts/campton/Campton-Black.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-Black.woff2') format('woff2'),
        url('../../fonts/campton/Campton-Black.woff') format('woff'),
        url('../../fonts/campton/Campton-Black.ttf') format('truetype'),
        url('../../fonts/campton/Campton-Black.svg#Campton-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('../../fonts/campton/Campton-ExtraLight.eot');
    src: url('../../fonts/campton/Campton-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-ExtraLight.woff2') format('woff2'),
        url('../../fonts/campton/Campton-ExtraLight.woff') format('woff'),
        url('../../fonts/campton/Campton-ExtraLight.ttf') format('truetype'),
        url('../../fonts/campton/Campton-ExtraLight.svg#Campton-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Campton Book';
    src: url('../../fonts/campton/Campton-BookItalic.eot');
    src: url('../../fonts/campton/Campton-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-BookItalic.woff2') format('woff2'),
        url('../../fonts/campton/Campton-BookItalic.woff') format('woff'),
        url('../../fonts/campton/Campton-BookItalic.ttf') format('truetype'),
        url('../../fonts/campton/Campton-BookItalic.svg#Campton-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('../../fonts/campton/Campton-ExtraBold.eot');
    src: url('../../fonts/campton/Campton-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-ExtraBold.woff2') format('woff2'),
        url('../../fonts/campton/Campton-ExtraBold.woff') format('woff'),
        url('../../fonts/campton/Campton-ExtraBold.ttf') format('truetype'),
        url('../../fonts/campton/Campton-ExtraBold.svg#Campton-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Campton Book';
    src: url('../../fonts/campton/Campton-Bold.eot');
    src: url('../../fonts/campton/Campton-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-Bold.woff2') format('woff2'),
        url('../../fonts/campton/Campton-Bold.woff') format('woff'),
        url('../../fonts/campton/Campton-Bold.ttf') format('truetype'),
        url('../../fonts/campton/Campton-Bold.svg#Campton-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('../../fonts/campton/Campton-SemiBold.eot');
    src: url('../../fonts/campton/Campton-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-SemiBold.woff2') format('woff2'),
        url('../../fonts/campton/Campton-SemiBold.woff') format('woff'),
        url('../../fonts/campton/Campton-SemiBold.ttf') format('truetype'),
        url('../../fonts/campton/Campton-SemiBold.svg#Campton-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Campton Book';
    src: url('../../fonts/campton/Campton-BoldDEMO.eot');
    src: url('../../fonts/campton/Campton-BoldDEMO.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-BoldDEMO.woff2') format('woff2'),
        url('../../fonts/campton/Campton-BoldDEMO.woff') format('woff'),
        url('../../fonts/campton/Campton-BoldDEMO.ttf') format('truetype'),
        url('../../fonts/campton/Campton-BoldDEMO.svg#Campton-BoldDEMO') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('../../fonts/campton/Campton-LightItalic.eot');
    src: url('../../fonts/campton/Campton-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-LightItalic.woff2') format('woff2'),
        url('../../fonts/campton/Campton-LightItalic.woff') format('woff'),
        url('../../fonts/campton/Campton-LightItalic.ttf') format('truetype'),
        url('../../fonts/campton/Campton-LightItalic.svg#Campton-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('../../fonts/campton/Campton-Thin.eot');
    src: url('../../fonts/campton/Campton-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-Thin.woff2') format('woff2'),
        url('../../fonts/campton/Campton-Thin.woff') format('woff'),
        url('../../fonts/campton/Campton-Thin.ttf') format('truetype'),
        url('../../fonts/campton/Campton-Thin.svg#Campton-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('../../fonts/campton/Campton-BlackItalic.eot');
    src: url('../../fonts/campton/Campton-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-BlackItalic.woff2') format('woff2'),
        url('../../fonts/campton/Campton-BlackItalic.woff') format('woff'),
        url('../../fonts/campton/Campton-BlackItalic.ttf') format('truetype'),
        url('../../fonts/campton/Campton-BlackItalic.svg#Campton-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Campton Book';
    src: url('../../fonts/campton/Campton-Book.eot');
    src: url('../../fonts/campton/Campton-Book.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-Book.woff2') format('woff2'),
        url('../../fonts/campton/Campton-Book.woff') format('woff'),
        url('../../fonts/campton/Campton-Book.ttf') format('truetype'),
        url('../../fonts/campton/Campton-Book.svg#Campton-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Campton Book';
    src: url('../../fonts/campton/Campton-BoldItalic.eot');
    src: url('../../fonts/campton/Campton-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-BoldItalic.woff2') format('woff2'),
        url('../../fonts/campton/Campton-BoldItalic.woff') format('woff'),
        url('../../fonts/campton/Campton-BoldItalic.ttf') format('truetype'),
        url('../../fonts/campton/Campton-BoldItalic.svg#Campton-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('../../fonts/campton/Campton-Medium.eot');
    src: url('../../fonts/campton/Campton-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/campton/Campton-Medium.woff2') format('woff2'),
        url('../../fonts/campton/Campton-Medium.woff') format('woff'),
        url('../../fonts/campton/Campton-Medium.ttf') format('truetype'),
        url('../../fonts/campton/Campton-Medium.svg#Campton-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

