.trainings {
    &-wrapper {
        @extend %flexColumnStartStart;
        width: 100%;
        padding: 50px 0 100px 0;
        border-top: 1px solid $tagBody;
        @include tablet-scr {
            padding: 50px 0 30px 0;
        }

        .hidden {
            display: none;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: $medium;
        color: $tagText;
        margin-bottom: 22px;
    }

    &__cards {
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    &__card {
        position: relative;
        width: 25%;
        height: auto;
        margin-bottom: 20px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        @include tablet-scr {
            width: 50%;
        }
        @include mobile-scr {
            width: 100%;
        }

        &:hover {

            .route {
                transform: scaleY(1.05);
            }
        }

        .route {
            position: relative;
            width: 97%;
            height: 165px;
            overflow: hidden;
            border-radius: 18px;
            @extend %coverCenter;
            z-index: 1;
            box-shadow: $smoothShadow;
            transform-origin: bottom center;
            transition: all 0.2s ease-in-out;
            z-index: 1;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%);
            }

            &__image {
                width: auto;
                height: 300px;
            }
        }

        &-labels {
            position: absolute;
            top: 25px;
            left: 35px;
            text-align: start;
            z-index: 3;

            .page {
                color: $white;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: $medium;
                pointer-events: none;
            }

            .collection {
                color: $white;
                font-size: 16px;
                font-weight: $normal;
                pointer-events: none;
            }
        }

        .path-text {
            position: relative;
            color: $white;

            &::before {
                content: '\e800';
                position: absolute;
                font-family: 'fontello';
                top: 0;
                bottom: 0;
                margin: auto;
                left: 0;
                color: $white;
                font-size: inherit;
            }
        }
    }

    &__return {
        display: flex !important;
        margin-top: 20px;
        z-index: 9;
        width: 100%;
        height: fit-content;

        .back-btn {
            width: fit-content;
            position: relative;
            color: $brandColor;
            text-decoration: none;
            padding-left: 30px;
            font-size: 15px;
            font-weight: $medium;
            @extend %flexRowStartCenter;

            &::before {
                content: '\e801';
                position: absolute;
                font-family: 'fontello';
                top: -3px;
                left: 0;
                bottom: 0;
                margin: auto;
                color: $brandColor;
                font-size: 18px;
            }
        }
    }
}