.temporary-form {
    width: 100%;
    margin-top: 70px;
    justify-content: flex-start;
    align-items: center;

    &__container {
        width: 100%;
        height: auto;
        justify-content: flex-start;
        @include mini-tablet-scr {
            justify-content: center;
        }
    }
    
    &__radios {
        width: 100%;
        padding: 0 20px;
        align-items: center;
        flex-direction: row;
        text-align: start;
        margin-bottom: 30px;
        margin-top: 15px;
        flex-wrap: wrap;
        @include mini-tablet-scr {
            padding: 0;
        }

        &-title {
            width: 30%;
            font-size: 18px;
            font-weight: $normal;
            color: $black;
            padding: 0;
            @include computer-scr {
                width: 25%;
            }
            @include tablet-scr {
                width: 30%;
            }
            @include mini-tablet-scr {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        &-wrapper {
            flex-wrap: wrap;
            width: 60%;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            @include computer-scr {
                width: 70%;
            }
            @include tablet-scr {
                width: 50%;
            }
            @include mini-tablet-scr {
                width: 100%;
            }
        }

        &-item {
            width: 40%;
            justify-content: flex-start;
            font-size: 18px;
            cursor: pointer;
            font-weight: $normal;
            @include tablet-scr {
                width: 50%;
            }
            @include mini-tablet-scr {
                width: 33%;
            }
            @include mobile-scr {
                width: 48%;
            }

            &__radio {
                width: 21px;
                height: 21px;
                border-radius: 50%;

                &::after {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                }
            }
        }
    }

    &__inputs {
        &-wrapper {
            width: 100%;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            @include mini-tablet-scr {
                justify-content: center;
            }
        }

        &-item {
            width: 49%;
            @include mini-tablet-scr {
                width: 100%;
            }
        }
    }

    &__customer-id {
        width: 100%;
    }

    &__button {
        margin-top: 40px;
        justify-content: center;
        @include mini-tablet-scr {
            justify-content: center;
            margin-top: 40px;
        }
    }
}