.admin-bar {
  position: relative;
  top: 0;
  left: 0;
  background-color: #000000;
  width: 100%;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  z-index: 999;
  transition: transform 0.3s;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
  @include tablet-scr {
    transform: translateY(-100%);
    position: fixed;
  }
  .items {
    float: right;
    span {
      font-size: 18px;
    }
  }
  svg {
    height: 30px;
    width: 70px;
    margin-right: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    * {
      fill: #fff;
    }
  }
  a {
    display: inline-block;
    color: inherit;
    margin: 0 15px;
    outline: none;
    text-decoration: none;
    transition: 0.3s all ease;
    &:hover {
      opacity: 0.8;
    }
    @include tablet-scr {
      display: flex;
      margin-bottom: 15px;
      justify-content: flex-end;
      span {
        order: 1;
      }
      i {
        order: 2;
      }
    }
  }
  .greet {
    margin-left: 80px;
  }
  .cog {
    display: none;
    position: absolute;
    bottom: -40px;
    left: 0;
    background-color: #000000;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s all ease;
    @include tablet-scr {
      display: block;
    }
    &:hover {
      opacity: 0.9;
    }    
  }
  &.show {
    transform: translateY(0);
  }
}