@import './adminbar';


.default-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container {
    @extend .default-container;
    max-width: 1076px;
    &--md {
        @extend .default-container;
        max-width: 1350px;
    }
    &--lg {
        @extend .default-container;
        max-width: 1640px;
    }
}