<tr>
    <td align="left" style="font-size:0px;padding:0px 0px 40px 0px;padding-top:0px;padding-right:0px;padding-bottom:40px;padding-left:0px;word-break:break-word;">
       <div style="font-family:Arial, sans-serif;font-size:13px;letter-spacing:normal;line-height:1;text-align:left;color:#000000;">
          <p style="text-align: left; margin: 10px 0; margin-top: 10px;">
            <span style="font-family:Verdana;line-height:21px;font-size:13px;letter-spacing:normal;text-align:left;color:#55575d;">Lorem
             Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
             been the industry's standard dummy text ever since the 1500s, when an unknown
             printer took a galley of type and scrambled it to make a type specimen book.
            </span>
          </p>
          <p style="text-align: left; margin: 10px 0; margin-bottom: 10px;"><span
             style="font-family:Verdana;line-height:21px;font-size:13px;letter-spacing:normal;text-align:left;color:#55575d;">It
             has survived not only five centuries, but also the leap into electronic typesetting,
             remaining essentially unchanged. It was popularised in the 1960s with the release of
             Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
             publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
          </p>
       </div>
    </td>
</tr>