<tr>
    <td align="left"
       style="background:#eaeaea;font-size:0px;padding:35px 50px 35px 50px;padding-top:35px;padding-right:50px;padding-bottom:35px;padding-left:50px;word-break:break-word;">
       <div
          style="font-family:Arial, sans-serif;font-size:13px;letter-spacing:normal;line-height:1;text-align:left;color:#000000;">
          <p class="text-build-content" data-testid="AfxW0NZRS"
             style="margin: 10px 0; margin-top: 10px;"><span
             style="color:#55575d;font-family:Verdana;font-size:13px;">Lorem Ipsum is simply
             dummy <b>text of the printing.</b></span>
          </p>
          <p class="text-build-content" data-testid="AfxW0NZRS" style="margin: 10px 0;"><span
             style="color:#55575d;font-family:Verdana;font-size:13px;">Lorem Ipsum is simply
             dummy text of the printing but also the leap into electronic typesetting.</span>
          </p>
          <p class="text-build-content"
             style="line-height: 17px; margin: 10px 0; margin-bottom: 10px;"
             data-testid="AfxW0NZRS"><span
             style="color:#909090;font-family:Verdana;font-size:11px;">Lorem Ipsum is simply
             dummy text of the printing and typesetting industry. Lorem Ipsum has been the
             industry's standard dummy text ever since the 1500s, when an unknown printer took a
             galley of type and scrambled it to make a type specimen book.</span>
          </p>
       </div>
    </td>
 </tr>