<tr>
   <td align="left" style="font-size:0px;padding:0px 0px 0px 0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;word-break:break-word;">
      <div style="font-family:Arial, sans-serif;font-size:13px;letter-spacing:normal;line-height:1;text-align:left;color:#000000;">
         <p class="text-build-content" style="line-height: 21px; margin: 10px 0; margin-top: 10px; margin-bottom: 10px;">
            <span style="color:#55575d;font-family:Verdana;font-size:13px;">Lorem Ipsum is simply
               dummy text of the printing and typesetting industry. Lorem Ipsum has been the
               industry's standard dummy text ever since the 1500s, when an unknown printer took a
               galley of type and scrambled
            </span>
         </p>
      </div>
   </td>
</tr>